.device-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11.69rem;
  background: url("/bg_mine.png");
  background-size:100% 100%;
}


.device-button {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  justify-content: center;
}

.device-loadmore {
  margin: auto;
}