.device-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11.69rem;
  background: url("/bg_mine.png");
  background-size:100% 100%;
}

.device-button-area {
  position: absolute;
  bottom: 0.9rem;
  left: 1.25rem;
  right: 1.25rem;
}

.device-button {
  height: 2.9rem;
}

.device-loadmore {
  margin: auto;
}