.order-detail-page {
  background-color: #EFEFF4;
  overflow: hidden;
}
.item-area {
  font-size: 1.1rem;
  background-color: #ffffff;
  color: #000000;
}

.order-detail-item {
  padding-left: 1.0rem;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
  border-bottom-width: 1px;
}

.order-detail-buttom-area {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}