.wallet_detail_record {
  display: flex;
  justify-content: space-between;
}

.record-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.record-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-primary {
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 1rem;
}

.content-trip {
  font-size: 0.9rem;
  color: #888888;
}