.page {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  height: 9.7rem;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 0;
}

.button {
  flex: 1;
  margin-top: 1.63rem;
  margin-bottom: 10.6rem;
  padding-left: 1.31rem;
  padding-right: 1.19rem;
}

.avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 0.63rem;
}

.bind-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1.6rem;
}
.bind-logo {
  width: 6.25rem;
  height: 5.63rem;
}