.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.msg {
  flex: 1;
}

.logo {
  margin-bottom: 1.63rem;
  width: 6.25rem;
  height: 5.63rem;
}

.footer {
  display: flex;
  justify-content: center;
}

.placeholder{
  background-color: #EBEBEB;
  /*height:2.3em;*/

  line-height:2.3em;
  text-align: center;
  margin: 5px;
  color:#CFCFCF;
}
.item {
  background-color: #EBEBEB;
  border-style: solid;
  border-width: 1px;
  border-color: red;

}

.flex {
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}